/* GLOBAL */
html {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    margin: 0;
    background: linear-gradient(180deg,
        #8675A9 0%,
        #A79AC7 45%,
        #E5E0FF 100%);
    min-height: 100%;
    color: black;
}

body {
    min-height: 100vh;
}

.hr {
   border: black solid;
   border-width: 0.05rem;
   margin:0.05rem
}

h1 {
    font-size:2rem;
    margin-bottom: 1rem;
}

h2 {
    margin-top: 0.05rem;
    margin-bottom: 0rem;
}

button {
  font: inherit;
  padding: 10px 16px;
  border-radius: 12px;
  border: 2px solid #7286D3;
  background: #E5E0FF;
  cursor: pointer;
}

button:hover {
  background: #FFF2F2;
}

a {
    text-decoration: none;
    color: #1a73e8;
    font-weight: 400;
    font-size: 25px;
}

a:hover {
    color: #0b57d0;
    font-weight: 900;
}

a:focus-visible {
  outline: 2px solid #0b57d0;
  outline-offset: 3px;
}

#party1 {
    background-color: #FFF2F2; 
    border-radius: 15px; 
    margin: 10px 15rem;
    padding:5px;
}

#party1:hover {
    background-color: #E5E0FF;
}

#title {
    text-align: center;
}

/* Cocktail Party Specific */
.question {
    font-weight: 900;
    font-style: italic;
}

#button1 {
    text-align: center;
}

#footer {
    margin-top:0px;
    font-size:12px;
}

/* Guest Specific */
#guests {
    text-align: center;
}

#guests ul {
  display: inline-block; /* allows the whole list block to be centered */
  text-align: left;      /* keeps the list text nicely aligned */
  padding-left: 0;       /* remove browser default indent */
  margin: 0;             /* optional: remove default margins */
  list-style-position: inside; /* puts bullets inside the block */
}