/* GLOBAL */
html {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 15pt;
    background-color: #D3CEDF;
    color: black;
}

.hr {
   border: #9CB4CC solid;
   border-radius: 
}

h1 {
    font-size:2rem;
}

h2 {
    margin-bottom:0.25rem;
}


a {
    text-decoration: none;
    color: #1a73e8;
    font-weight: 400;
    font-size: 25px;
}

a:hover {
    color: #0b57d0;
    font-weight: 900;
}

a:focus-visible {
  outline: 2px solid #0b57d0;
  outline-offset: 3px;
}

#party1 {
    background-color: #FFF2F2; 
    border-radius: 15px; 
    margin: 10px 10rem;
    padding:5px;
}

#party1:hover {
    background-color: #E5E0FF;
}

#title {
    text-align: center;
}

/* Cocktail Party Specific */
.question {
    font-weight: 900;
    font-style: italic;
}