a {
    text-decoration: none;
    color: #1a73e8;
    font-weight: 600;
    font-size: 20px;
}

a:hover {
    color: #0b57d0;
    text-decoration: none;
}

a:focus-visible {
  outline: 2px solid #0b57d0;
  outline-offset: 3px;
}

#party1 {
    background-color: #FFF2F2; 
    border-radius: 15px; 
    margin-top: 10px;
    padding:5px;
}

#party1:hover {
    background-color: #E5E0FF;
}